*.log
*.log.*
*.pid
world
world_nether
world_the_end
mc-overviewer/render/*
mc-overviewer/log/*
mc-overviewer/overviewerbackups/*
*.iml
.idea/*
target/*
plugins/*.jar
mcbackup/*
banned-ips.txt
banned-players.txt
config/init-server.conf
server.properties
