[submodule "minecraft-init"]
	path = minecraft-init
	url = http://github.com/Ahtenus/minecraft-init.git
[submodule "mc-overviewer/Minecraft-Overviewer"]
	path = mc-overviewer/Minecraft-Overviewer
	url = http://github.com/overviewer/Minecraft-Overviewer.git
	branch = 152r1
[submodule "CraftBukkit"]
	path = CraftBukkit
	url = https://github.com/Somewater/CraftBukkit.git
	branch = 152r1
[submodule "Bukkit"]
        path = Bukkit
        url = https://github.com/Somewater/Bukkit.git
        branch = 152r1
